.ant-layout-sider {
  height: 100vh;

  .algorithm-selector {
    width: 50%;
  }
}

.ant-layout-header {
  color: white;

  .frequency-slider {
    width: 150px;
  }

  .array-length-slider {
    width: 150px;
  }
}
