.ant-layout {
  width: 100vw;
  height: 100vh;

  .ant-layout-sider {
    height: 100%;

    .ant-layout-sider-zero-width-trigger {
      top: 50%;
    }

    .algorithm-selector {
      width: 100%;
    }
  }

  .ant-layout-header {
    color: white;
    height: auto;

    .frequency-slider {
      width: 150px;
    }

    .array-length-slider {
      width: 150px;
    }
  }
}
